*.pyc
__pycache__/
*.c
*.so
src/dev.ipynb
src/results/classification_dataset/*
*.png
src/results/regime_classification/one-shot/barycenter_grids/*.png
src/results/regime_classification/one-shot/class_pairs/*.png
